.blog-post pre {
  @apply border-2 border-gray-300 dark:border-neutral-700 rounded-lg;
}

code[class*='language-'],
pre[class*='language-'] {
  @apply text-[#90a4ae] dark:text-[#eee] bg-[#fafafa] dark:bg-[#2f2f2f];
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  font-size: 1em;
  line-height: 1.5em;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

code[class*='language-']::-moz-selection,
pre[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection,
pre[class*='language-'] ::-moz-selection {
  @apply bg-[#cceae7] dark:bg-[#363636] text-[#263238];
}

code[class*='language-']::selection,
pre[class*='language-']::selection,
code[class*='language-'] ::selection,
pre[class*='language-'] ::selection {
  @apply bg-[#cceae7] text-[#263238] dark:bg-[#363636];
}

:not(pre) > code[class*='language-'] {
  white-space: normal;
  border-radius: 0.2em;
  padding: 0.1em;
}

pre[class*='language-'] {
  overflow: auto;
  position: relative;
  margin: 0.5em 0;
  padding: 1.25em 1em;
}

.language-css > code,
.language-sass > code,
.language-scss > code {
  @apply text-[#f76d47] dark:text-[#fd9170];
}

[class*='language-'] .namespace {
  opacity: 0.7;
}

.token.atrule {
  @apply text-[#7c4dff] dark:text-[#c792ea];
}

.token.attr-name {
  @apply text-[#39adb5] dark:text-[#ffcb6b];
}

.token.attr-value {
  @apply text-[#f6a434] dark:text-[#a5e844];
}

.token.attribute {
  @apply text-[#f6a434] dark:text-[#a5e844];
}

.token.boolean {
  @apply text-[#7c4dff] dark:text-[#c792ea];
}

.token.builtin {
  @apply text-[#39adb5] dark:text-[#ffcb6b];
}

.token.cdata {
  @apply text-[#39adb5] dark:text-[#80cbc4];
}

.token.char {
  @apply text-[#39adb5] dark:text-[#80cbc4];
}

.token.class {
  @apply text-[#39adb5] dark:text-[#ffcb6b];
}

.token.class-name {
  @apply text-[#6182b8] dark:text-[#f2ff00];
}

.token.comment {
  @apply text-[#aabfc9] dark:text-[#616161];
}

.token.constant {
  @apply text-[#7c4dff] dark:text-[#c792ea];
}

.token.deleted {
  @apply text-[#e53935] dark:text-[#ff6666];
}

.token.doctype {
  @apply text-[#aabfc9] dark:text-[#616161];
}

.token.entity {
  @apply text-[#e53935] dark:text-[#ff6666];
}

.token.function {
  @apply text-[#7c4dff] dark:text-[#c792ea];
}

.token.hexcode {
  @apply text-[#f76d47] dark:text-[#f2ff00];
}

.token.id {
  @apply text-[#7c4dff] dark:text-[#c792ea];
  font-weight: bold;
}

.token.important {
  @apply text-[#7c4dff] dark:text-[#c792ea];
  font-weight: bold;
}

.token.inserted {
  @apply text-[#39adb5] dark:text-[#80cbc4];
}

.token.keyword {
  @apply text-[#7c4dff] dark:text-[#c792ea];
}

.token.number {
  @apply text-[#f76d47] dark:text-[#fd9170];
}

.token.operator {
  @apply text-[#39adb5] dark:text-[#89ddff];
}

.token.prolog {
  @apply text-[#aabfc9] dark:text-[#616161];
}

.token.property {
  @apply text-[#39adb5] dark:text-[#80cbc4];
}

.token.pseudo-class {
  @apply text-[#f6a434] dark:text-[#a5e844];
}

.token.pseudo-element {
  @apply text-[#f6a434] dark:text-[#a5e844];
}

.token.punctuation {
  @apply text-[#39adb5] dark:text-[#89ddff];
}

.token.regex {
  @apply text-[#6182b8] dark:text-[#f2ff00];
}

.token.selector {
  @apply text-[#e53935] dark:text-[#ff6666];
}

.token.string {
  @apply text-[#f6a434] dark:text-[#a5e844];
}

.token.symbol {
  @apply text-[#7c4dff] dark:text-[#c792ea];
}

.token.tag {
  @apply text-[#e53935] dark:text-[#ff6666];
}

.token.unit {
  @apply text-[#f76d47] dark:text-[#fd9170];
}

.token.url {
  @apply text-[#e53935] dark:text-[#ff6666];
}

.token.variable {
  @apply text-[#e53935] dark:text-[#ff6666];
}
